body {
    margin: 0;
}

.btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
}

.link {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.link:first-child {
    margin-right: 30px;
}